:root {
    font-family:sans-serif;
    box-sizing: border-box;
    --primary-green: #6C7D53;
    --primary-orange: #F0C75F;
    --primary-purple: #7B3889;
    --primary-white: #EFF3E5;
    --secondary-white: #EFF3EF;
}

a{
    text-decoration: none;
    color: var(--primary-white);
}

body {
    margin: 0px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}


.heading {
    display: flex;
    flex-direction: column;
    color: var(--primary-white);
    background: black;
    padding: 1em;
}

.title {
    align-self: center;
    margin: 0px;
}


.menu ul{
    display: flex;
    list-style: none;
    padding: 0px;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1em;
    margin: 0 auto;
    max-width: 50%;
}

.content{
    display:flex;
    justify-content: center;
    background: var(--secondary-white);
    flex-grow: 1;
}

.content-stacked{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--secondary-white);
    flex-grow: 1;
}

.deck{
    display:flex;
    justify-content: center;
    flex-grow:1;
    max-width: 1000px;
    align-items: stretch;
    flex-wrap: wrap;
}

.album-deck{
    display:flex;
    justify-content: center;
    flex-grow:1;
    align-items: stretch;
    flex-wrap: wrap;
    max-width: 75%;
}

@media (max-width: 768px) {
    .deck {
      flex-direction: column;
    }
  }

  .doodle-gallery{
    display:flex;
    justify-content: center;
    flex-grow:1;
    align-items: stretch;
    flex-wrap: wrap;
    gap:1em;
    max-width: 75%;
    margin: 0 0 1em 0;
  }

.card{
    flex-basis: 0px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: flex-grow 0.5s;
}

.album-card{
    flex-basis: 0px;
    flex-grow: 1;
    min-width: 450px;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.album-card p{
    width: 65%;
}

.half{
    flex-basis: 0px;
    flex-grow: 1;

}

.image-container{
    display: flex;
    justify-content: center;
    align-items: center;

}

.contact{
    display:flex;
    justify-content: center;
    align-items: start;
}

.contact form{
    display:flex;
    justify-content: center;
    width: 75%;
    flex-direction: column;
    margin: 1rem;
    background-color: black;
    color: var(--primary-white);
    padding:1rem;
}

form ul{
    list-style: none;
    padding:0px;
    margin: 0px;
}

form button{
    align-self: center;
}

input, textarea{
    width:60%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

textarea{
    vertical-align: top;
}

label{
    display: inline-block;
    width: 25%;
    text-align: right;
}

.headshot{
    max-width: 75%;
    max-height: 90%;
    box-shadow: 10px 10px 0px -1px black;
    border: 1px solid black;
}

.doodle{
    flex-grow: 1;
    max-width: 350px;
    box-shadow: 10px 10px 0px -1px black;
    border: 1px solid black;
}
.album-cover{
    max-width: 75%;
    max-height: 90%;
    box-shadow: 10px 10px 0px -1px black;
    border: 1px solid black;
}

.text-block{
    background: black;
    color: var(--primary-white);;
    padding: 1em;
    margin: 1em;
    font-size: large;
    box-shadow: 5px 5px 0px -1px var(--primary-white);
}

.reviews-block{
    padding:1em;
    margin:1em;
}

.reviews-block p{
    margin: 0px;
    text-align: right;
}

.card:hover{
    flex-grow: 1.25;
}

.green{
    background: var(--primary-green);

}
.orange{
    background: var(--primary-orange);
}
.purple{
    background: var(--primary-purple);
}

.black{
    background-color: black;
}

.card h2{
    margin: 0px;
    color:var(--primary-white);
    background-color: black;
    padding: 1em;
    margin: 1em;
}

.footer{
    background: black;
    color: var(--primary-white);
    display:flex;
    justify-content: center;
}